include head 
section.bg-light.py-2
  nav.navbar.navbar-expand-lg.bg-light.w-75.w-100.mx-auto(style='background-color: rgba(0, 0, 0, 0.2);')
    .container-fluid
      a.navbar-brand.text-dark.fw-semibold.w-25.ms-lg-5(href='#') PsycheTech
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mb-2.mb-lg-0.ms-auto.me-lg-5
          li.nav-item
            a.nav-link.text-dark.active.btn.btn-outline-primary.px-4.fw-semibold.border-0(aria-current='page' href='/home') Home
          li.nav-item
            a.nav-link.text-dark.ms-3.btn.btn-outline-primary.px-4.fw-semibold.border-0(href='#about') About
          li.nav-item
            a.nav-link.text-dark.ms-3.btn.btn-outline-primary.px-4.fw-semibold.border-0(href='#package') Contact
          if user  
            li.nav-item
              a.nav-link.text-dark.ms-3.btn.btn-outline-primary.px-4.fw-semibold.border-0(href='#',class='logout-button') Logout
            li.nav-item
              a.nav-link.text-dark.ms-3.btn.btn-outline-primary.px-4.fw-semibold.border-0(href='/eventRegister',class='logout-button') Create Event  
          else    
            li.nav-item
              a.nav-link.text-dark.ms-3.btn.btn-outline-primary.px-4.fw-semibold.border-0(href='/login') Login
.row.mt-3
  each u in users
    .col-lg-4.col-md-6.col-12
      .card
        img.card-img-top(src='https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp' alt='Hollywood Sign on The Hill' style="width:80%; height:auto; display:block;margin:auto;")
        .card-body
          h5.card-title(style="text-align:center;")=u.name
          h4(style="text-align:center; margin-top:3px;")
            a.btn.btn-success(href=`tel:+91${u.phone}`)
              i.fas.fa-phone
                | Contact for emergency need
          h4(style="text-align:center; margin-top:3px;")
            a.btn.btn-primary(href=`mailto:${u.email}`)
              i.fas.fa-envelope
                |  Contact for more info

          .not(style="text-align:center; margin-top:3px;") 
              button.btn.btn-dark.position-relative(type='button')
                a(href=`/viewEvents/${u._id}` style="color:white;")
                  | View events
                span.not_number.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.badge-danger(style="color:red;font-size:2rem;")=`${u.phone[0]}+`
                  span.visually-hidden unread messages


include footer

